<div class="container w-100">
    <h2 class="text-center mt-3">Text to Speech</h2>
    <mat-progress-bar *ngIf="this.loading" mode="indeterminate"></mat-progress-bar>
    <mat-form-field class="example-full-width w-100">
        <mat-label>Text here</mat-label>
        <input (change)="getText($event)" class="w-100" matInput placeholder="Enter text here">
    </mat-form-field>
    <button (click)="transform()" mat-flat-button color="warn">Transform</button>
    <div *ngIf="this.textInput != '' && this.urlAudio != ''" class="mt-3">
        <video class="display-audio" controls autoplay>
            <source [src]="this.sanitize(this.urlAudio)" type="audio/wav">
        </video>
    </div>
</div>
