<div class="bg-dark h-100 text-light container" >
    <h2 class="pt-5">Graduate Thesis</h2>
    <p>Nguyễn Đức Trí</p>
    <p>19110302</p>
    <mat-list role="list" >
        <mat-list-item [routerLink]="['/voicebot']" role="listitem"><button mat-flat-button color="accent">Voice Bot</button></mat-list-item>
        <mat-list-item [routerLink]="['/chatbot']" role="listitem"><button mat-flat-button color="primary">Chat Bot</button></mat-list-item>
        <mat-list-item [routerLink]="['/stt']" role="listitem"><button mat-flat-button color="primary">Transcriber</button></mat-list-item>
        <mat-list-item [routerLink]="['/tts']" role="listitem"><button mat-flat-button color="primary">Speaker</button></mat-list-item>
    </mat-list>
    
</div>

